{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">

        <div class="col-sm-12">


            <div class="card">
                <div class="card-header">
                    <h4>Procesos de: <strong>{{ idMacroproceso.title }}</strong> </h4>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for proceso in procesos %}
                            <tr>
                                <td>{{ proceso.title |capitalize}}</td>
                                <td>
                                    <div class="btn-group">


                                        <ul>
                                            <li><a href="{{ path('procesos_procedimientos', {'id': proceso.id }) }}"><i class="fa fa-eye"></i>Ver Procedimientos</a></li>
                                            <li><a href="{{ path('procesos_proceso_editar', {'id': proceso.id } )}}"><i class="fa fa-edit"></i>Editar Proceso</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <a type="button"  class="btn btn-sm btn-primary btn-md"  href="{{ path('procesos_procesos_agregar', {'idMacroproceso': idMacroproceso.id }) }}">Agregar</a>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
