{% extends 'layout.html.twig' %}
{% block title %} Areas Club Tijuana{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-10 col-md-offset-1">

    <h1> Puesto </h1>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for ic_puesto in ic_puestos %}
                <tr>
                    <td>{{ ic_puesto.idPuesto }}</td>
                    <td>{{ ic_puesto.nombre }}</td>
                    <td>
                        <a href="{{ path('procesos_puesto_mostrar', {'idPuesto': ic_puesto.idPuesto}) }}">show</a>
                        <a href="{{ path('procesos_puesto_editar', {'idPuesto': ic_puesto.idPuesto}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('procesos_puesto_agregar') }}">Create new</a>
    </div>
</div>

{% endblock %}
